<div id="content">
    <h1>certificateID</h1>
    <p>Gerando PDF com NodeJS e PDFKit</p>

    <form action="/create-pdf" method="POST">
        <button type="submit">Criar PDF</button>
    </form>

    <form action="/download" method="POST">
        <button type="submit">Baixar PDF</button>
    </form>
</div>